body {
    background-color: #2B2B2B;
}

.fixPanel{
    position:fixed;
    left: 64px;
    top: 10px;
}

#main_app{
    position: relative;
    padding: 30px 50px 10px 50px ;
    width: 800px;
    height: 100%;
}
.downloadUrl {
    width: 400px;
}

.bar {
    position: relative;
    background-color: #606366;
    width: 250px;
    height: 14px;
    margin-top: 5px;
}

.bar .step {
    height: 100%;
    width: 50%;
    background-color: #ace74a;
    transition: width 500ms linear 0ms;
    -o-transition: width 500ms linear 0ms; /*兼容parsto内核*/
    -moz-transition: width 500ms linear 0ms; /*兼容gecko内核*/
    -webkit-transition: width 500ms linear 0ms; /*兼容webkit内核*/
}

.bar .info {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 100%;
    font-size: 14px;
    color: #FBECFF;
}

.video {
    font-size: 12px;
    color: #B9B9A3;
    border-bottom-width: 1px;
    border-bottom-color: #233a3e;
    border-bottom-style: solid;
    padding: 10px;
    line-height: 30px;
}

.video .column {
    float: left;
}
.video .progress{
    float: right;
    line-height: 14px;
}

.video .page{
    width: 20px;
}

.video .select{
    padding-top: 2px;
}

.video .title{
    padding-left: 5px;
    width: 300px;
}

.video .finish_title{
    padding-left: 5px;
    line-height: 30px;
}

.video:hover{
    background-color: #3c3f41;
}
.clearfix:after {
    content: "";
    display: block;
    clear: both;
}